.card{
  padding: 2em;
  border: 1px solid #888;
  margin: 2px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.grid{
 
  max-width: 100rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.2rem;
  /* background-color: #888; */
  margin: 5px;
  
}